{% extends 'base.html' %}

{%block body%}

  





  <!-- recent post -->
  <section class="body-b">
    <div class="container">
      <h1>Category Name</h1>
      <div class="row">
        <div class="card-deck col-md-8">
          <div class="row">

            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 cards">
              <div class="card">
                <img src="img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <button type="button" class="btn btn-success btn-xs ">Natural</button>
                  <h5 class="card-title">POLITICSThe AI magically removes moving objects from videos.</h5>
                  <div class="info">
                    <img class="rad" src="img/download.jpg" alt="">
                    <p class="card-text"><small class="text-muted">By <span>Ahmed</span> April 25, 2020</small></p>
                  </div>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-link">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- popular-posts -->
          <div class="popular-posts">
            <h1>POPULAR POSTS</h1>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/10.jpg" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="category">
            <h1>Categories</h1>
            <ul class="list-unstyled">
              <li><a href="#">PSD to html</a>(15)</li>
              <li><a href="#">1 onepage</a>(15)</li>
              <li><a href="#">Clean design</a>(15)</li>
              <li><a href="#">1 Revision</a>(15)</li>
              <li><a href="#">Well Documented</a>(15)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscribe -->
  <section class="subscribe">
    <div class="container">
      <div class="row justify-content-center text-center ">
        <div class="col-md-5">
          <h2>Subscribe to our news letter</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt error illum a explicabo, ipsam nostrum.</p>
          <form action="#" class="d-flex">
            <input type="email" class="form-control" placeholder="Enter your email address">
            <button type="submit" class="btn ">Subscribe</button>
          </form>
        </div>
      </div>
     
    </div>
  </section>



{% endblock %}














