{% extends 'base.html' %}

{%block body%}

  







  <!-- recent post -->
  <section class="body-b">
    <div class="container">

      <div class="row">
       
        <div class="col-md-8">
          <div class="object-bage">
            <!-- comment-form -->
            <div class="comment-form">
              <h4>Leave a Comment</h4>
              <form class="form-contact comment_form" action="#" id="commentForm" method="POST">
                 <div class="row">
                  {% csrf_token %}

                  {{ form }}
                    <div class="col-12">
                       <div class="form-group">
                          <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="form-group">
                         
                          <input class="form-control" name="name" id="inlineFormInput" type="text" placeholder="Name">
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="form-group">
                          <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                       </div>
                    </div>
                    <div class="col-12">
                       <div class="form-group">
                          <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                       </div>
                    </div>
                 </div>
                 <button class="btn">Add Blog</button>
              </form>
           </div>

          </div>
        </div>

        <div class="col-md-4">
          <!-- popular-posts -->
          <div class="popular-posts">
            <h1>POPULAR POSTS</h1>

            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/10.jpg" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="img-responsive" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/quincy-alivio-UvgzVZimyWU-unsplash.png" class="" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">POLITICSThe AI magically removes moving objects.</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="category d-none d-md-block">
            <h1>Categories</h1>
            <ul class="list-unstyled">
              <li><a href="#">PSD to html</a>(15)</li>
              <li><a href="#">1 onepage</a>(15)</li>
              <li><a href="#">Clean design</a>(15)</li>
              <li><a href="#">1 Revision</a>(15)</li>
              <li><a href="#">Well Documented</a>(15)</li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </section>








{% endblock %}
















